@import "./LeftCard/leftcard";
@import "./RightCard/rightcard";

.left-card,
.right-card {
  width: 100%;
  padding-top: 40px;
}

.main-page {
  display: flex;
  justify-content: center;
  min-height: 95vh;
}
