.right-card {
  padding-left: 40px;

  .total-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    .subtotal-wrapper,
    .total {
      border-top: 1px solid #ced4da;
      padding-top: 25px;
    }

    .total {
      text-align: left;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
      span {
        text-align: left;
        font-size: 19px;
        font-weight: normal;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
      }
    }

    .flex-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }

  .coupon-wrapper {
    display: flex;
    flex-direction: column;

    .input-wrapper {
      display: flex;
      margin-top: 20px;
      .input {
        background-color: #f6f6f6;
        padding: 10px 16px;
        border: none;
        outline: none;
        width: 100%;
      }

      button {
        background-color: #c4c4c4;
        padding: 10px 40px;
        text-align: left;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
      }
    }

    .tag-wrapper {
      margin-top: 10px;
      background-color: #f6f6f6;
      padding: 10px;
      border: none;
      outline: none;
      width: max-content;
      display: flex;
      align-items: center;
      text-align: left;
      font-size: 20px;
      letter-spacing: 0px;
      color: #717171;
      opacity: 1;
      button {
        font-size: inherit;
        color: inherit;
        background: none;
        height: 20px;
        width: 20px;
      }
      p {
        margin: 0 10px;
      }
    }
  }

  .product {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: start;
    grid-gap: 40px;
    border-bottom: 1px solid #ced4da;
    padding: 40px 0;

    .price-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      .price {
        text-align: left;
        font-weight: bold;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        font-size: 20px;
      }

      .no-price {
        font-weight: normal;
        text-align: left;
        font-size: 14px;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        text-decoration: line-through;
      }

      .free {
        text-align: left;
        font-weight: bold;
        letter-spacing: 0px;
        font-size: 20px;
        color: #e8202d;
        opacity: 1;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .name {
        text-align: center;
        font-weight: bold;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
      }
      .description {
        text-align: center;
        font-size: 14px;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
        line-height: 1.5;
      }
      .details {
        display: flex;
        margin-top: 5px;
        p {
          padding-right: 5px;
          margin-right: 5px;
          border-right: 1px solid #d6d6d6;
          line-height: 0.8;
          text-align: left;
          font-size: 14px;
          letter-spacing: 0px;
          color: #333333;
          opacity: 1;

          &:last-child {
            padding-right: 0;
            margin-right: 0;
            border-right: none;
          }
        }
      }
    }

    .img-wrapper {
      box-shadow: 1px 2px 10px #00000029;
      border-radius: 5px;
      position: relative;

      .qnty {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(50%) translateY(-50%);
        background: #333;
        color: #fff;
        font-size: bold;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .advert {
    border: 0.5px dashed #000000;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .top {
      display: flex;
      margin: 10px 0;
      .details {
        display: flex;
        flex-direction: column;

        .name,
        .price {
          text-align: center;
          font-weight: 600;
          font-size: 20px;
          letter-spacing: 0px;
          color: #000000;
          opacity: 1;

          span {
            text-align: left;
            font-weight: 300;
            font-size: 14px;
            text-decoration: line-through;
            letter-spacing: 0px;
            color: #e8202d;
            opacity: 1;
          }
        }
      }
    }

    button {
      background: transparent;
      border: 2px solid #000000;
      padding: 10px 40px;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      letter-spacing: 0px;
    }
  }
}
